/* ############# Default  ########## */
nav,
header,
footer {
     display: block;
}

body{
    line-height: 1;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.row::after {
    display: table;
    clear: both;
    content: "";
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  

/* ############ nav bar ################# */
nav {
    width: 100%;
    margin: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    display: block;
    background-color: #FFD662FF;
    overflow: hidden;
}
ul.topnav li {
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right {
    float: right;
}
ul.topnav li a {
    min-height: 18px;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: cadetblue;
}
ul.topnav li a:hover {
    background-color: #00539CFF;
    color: whitesmoke;
}
ul.topnav li.dropdown_click {
    display: none;
}
/* ######### custom style ########### */
#section1-gradient {
    background: linear-gradient(#33a0ff,#00539CFF);
    background: -webkit-linear-gradient(#33a0ff,#00539CFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#33a0ff,#00539CFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#33a0ff,#00539CFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#33a0ff,#00539CFF); /* Standard syntax */
}
h1.styling {
    color: wheat;
    font-size: 54px;
    line-height: 65px;
    margin: 0;
}

form h2 {
    color: wheat;
}
div.leftside-col {
    margin-left: 30%;
}
div.rightside-col {
    margin-left: 15%;
}

input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-height: 18px;
    padding: 5px;
    border-radius: 7px;
}

/* ########## mobile ############# */
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    ul.topnav li.dropdown_click {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdown_click {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    
    .col-6 {
        margin: 0;
        width: 100%;
    }

    div.leftside-col,
    div.rightside-col {
        margin: 15px;
    }
    input[type="text"]{
        width: 350px;
    }
    .videocontainer iframe {
        width: 100%;
        overflow: hidden;
        margin:0;
        position: relative;
    }
}